@{
    ViewBag.Title = "Details";
   
}

<h2>Details</h2>

<div class="container">
    <h2>MRF Record</h2>
    <div style="overflow:scroll">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Position Name
                    </th>
                    <th>
                        MRF Created By
                    </th>

                    <th>
                        MRF Created Date
                    </th>
                    <th>
                        Position To be filled_before
                    </th>
                    <th>
                        Vacancy For
                    </th>
                    <th>
                        Vacancy Type
                    </th>

                    <th>
                        TerritoryHQ
                    </th>
                    <th>
                        DivisionName
                    </th>
                    <th>
                        Min Yrs
                    </th>
                    <th>
                        Max yrs
                    </th>

                    <th>
                        MinCTC
                    </th>
                    <th>
                        MaxCTC
                    </th>
                    <th>
                        Additional_Requirement
                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
           
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />



<script>
    
    $(document).ready(function () {
        loadData();
    });
    function loadData() {
        $.ajax({
            url: "/Details/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';

                $.each(result, function (key, item) {

                    var date = item.MRF_Created_Date;
                    var nowDate = new Date(parseInt(date.substr(6)));
                    var date1 = item.Position_to_be_filled_before;
                    var nowDate1 = new Date(parseInt(date1.substr(6)));
                    html += '<tr>';
                    if (item.Status == 1) {

                        html += '<td><a href="#" onclick="return Edit(' + item.id + ')">Edit</a > | <a href="#" onclick="Delete(' + item.id + ')">Delete</a></td > ';
                        html += '<td><a href="#" onclick="return UpdateReqStatus(' + item.id + ',2)">Approved</a > | <a href="#" onclick="UpdateReqStatus(' + item.id + ',3)">Rejected</a></td > ';
                    }
                    else {
                        html += '<td colspan="2">' + item.Sta_tus + '</td>';
                    }
                    html += '<td>' + item.id + '</td>';
                    html += '<td>' + item.PositionName + '</td>';
                    html += '<td>' + item.Created_By + '</td>';
                    html += '<td>' + nowDate.toDateString() + '</td>';
                    html += '<td>' + nowDate1.toDateString() + '</td>';
                    html += '<td>' + item.VacancyField + '</td>';
                    html += '<td>' + item.VacancyVacant + '</td>';
                    html += '<td>' + item.TerritoryHQ + '</td>';
                    html += '<td>' + item.DivisionName + '</td>';
                    html += '<td>' + item.Min_Yrs + '</td>';
                    html += '<td>' + item.Max_yrs + '</td>';
                    html += '<td>' + item.MinCTC + '</td>';
                    html += '<td>' + item.MaxCTC + '</td>';
                    html += '<td>' + item.Additional_Requirement + '</td>';
                    html += '</tr>';

                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
   



    function Delete(id) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Details/Delete/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function Edit(id) {
        var edit = 1;
        window.location = "/MRF/edit?id=" + id + "&edit=" + edit;

    }
</script>
